#undef ZMK_BEHAVIORS_KEEP_ALL

#define ZMK_BEHAVIORS_KEEP_IND
#define ZMK_BEHAVIORS_KEEP_BT
#define ZMK_BEHAVIORS_KEEP_GRESC
#define ZMK_BEHAVIORS_KEEP_SYS_RESET
#define ZMK_BEHAVIORS_KEEP_BOOTLOADER
#define ZMK_BEHAVIORS_KEEP_CAPS_WORD
#define ZMK_BEHAVIORS_KEEP_KEY_REPEAT
#define ZMK_BEHAVIORS_KEEP_KT
#define ZMK_BEHAVIORS_KEEP_LT
#define ZMK_BEHAVIORS_KEEP_MT
#define ZMK_BEHAVIORS_KEEP_SK
#define ZMK_BEHAVIORS_KEEP_STICKY_LAYER
#define ZMK_BEHAVIORS_KEEP_TO
#define ZMK_BEHAVIORS_KEEP_TOG
#define ZMK_BEHAVIORS_KEEP_TRANS

#include <dt-bindings/zmk/indicators.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/backlight.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/outputs.h>

#define DEF 0
#define LWR 1
#define RSE 2
#define ADJ 3

&lt { quick_tap_ms = <200>; };

&mt { quick_tap_ms = <200>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q  &kp W  &kp E    &kp R    &kp T        &kp Z      &kp U    &kp I      &kp O    &kp P      &kp LEFT_PARENTHESIS
&kp TAB    &kp A  &kp S  &kp D    &kp F    &kp G        &kp H      &kp J    &kp K      &kp L    &kp SEMI   &kp SQT
&kp LSHFT  &kp Y  &kp X  &kp C    &kp V    &kp B        &kp N      &kp M    &kp COMMA  &kp DOT  &kp COLON  &kp RIGHT_PARENTHESIS
                         &mo ADJ  &mo LWR  &kp SPACE    &kp ENTER  &mo LWR  &mo RSE
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_DN C_VOL_UP &scroll_u_d>;
        };

        lower_layer {
            bindings = <
&kp EXCLAMATION  &kp DOUBLE_QUOTES  &kp DOLLAR        &kp PERCENT        &kp AMPERSAND   &kp BACKSLASH      &kp SLASH         &kp ASTERISK   &kp GRAVE       &kp N7        &kp N8        &kp N9
&kp TAB          &kp AT_SIGN        &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp LEFT_BRACE  &kp RIGHT_BRACE    &kp MINUS         &kp PLUS       &kp UNDERSCORE  &kp NUMBER_4  &kp N5        &kp NUMBER_6
&kp LSHFT        &kp CARET          &kp TILDE         &kp QUESTION       &kp GRAVE       &kp PIPE           &kp GREATER_THAN  &kp LESS_THAN  &kp N0          &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3
                                                      &mo ADJ            &mo LWR         &kp SPACE          &kp ENTER         &mo LWR        &mo RSE
            >;

            sensor-bindings = <&inc_dec_kp PG_DN PG_UP &scroll_l_r>;
        };

        raise_layer {
            bindings = <
&kp F1     &kp F2                            &kp F3     &kp F4       &kp F5   &kp F6            &kp F7     &kp F8    &kp F9    &kp F10    &kp F11  &kp F12
&none      &kp INS                           &kp PSCRN  &kp K_CMENU  &none    &none             &kp PG_UP  &kp HOME  &kp UP    &kp END    &none    &none
&kp LCTRL  &kp C_KEYBOARD_INPUT_ASSIST_NEXT  &none      &none        &none    &lt 2 LEFT_WIN    &kp PG_DN  &kp LEFT  &kp DOWN  &kp RIGHT  &kp DEL  &kp BSPC
                                                        &mo ADJ      &mo LWR  &kp SPACE         &kp ENTER  &mo LWR   &mo RSE
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW &inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        adjust_layer {
            bindings = <
&out OUT_BLE  &bt BT_SEL 0  &bt BT_SEL 1  &bt BT_SEL 2    &bt BT_CLR   &out OUT_USB    &none        &none        &none    &none  &none  &none
&none         &none         &none         &none           &bl BL_TOG   &none           &none        &none        &none    &none  &none  &none
&sys_reset    &bootloader   &none         &studio_unlock  &ind IND_ON  &ind BAT_ST     &ind IND_ON  &ind BAT_ST  &none    &none  &none  &none
                                          &mo ADJ         &mo LWR      &kp SPACE       &kp ENTER    &mo LWR      &mo RSE
            >;

            sensor-bindings = <&inc_dec_kp DOWN_ARROW UP_ARROW &inc_dec_kp RIGHT_ARROW LEFT_ARROW>;
        };

        extra1 { status = "reserved"; };

        extra2 { status = "reserved"; };

        extra3 { status = "reserved"; };

        extra4 { status = "reserved"; };
    };
};
